* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.container {
  position: fixed;
  bottom: 20%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
}
.container .money {
  display: inline-block;
  width: 0.75%;
  height: 55px;
  background-color: white;
  margin-left: 0.25%;
}
