*
  box-sizing: border-box
body, html
  margin: 0px
  padding: 0px
  background-color: black

.input-container
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  color: #fff
  border: 1px solid #e6e6e6
  padding: 15px
  .input-row
    margin-bottom: 5px
  input
    &:focus
      outline: 0
      box-shadow: none
  .msg
    display: inline-block
  .start
    margin-top: 10px
    margin-left: 50%
    transform: translateX(-50%)
    padding: 6px 12px
    border-radius: 4px
    cursor: pointer
    font-size: 14px
    line-height: 20px
    text-align: center
    border: 1px solid #000  
    color: #333333
    background-color: #fff
    border-color: #cccccc
    &:hover
      background-color: #e6e6e6
      border-color: #adadad

.dashboard
  position: fixed
  top: 20%
  left: 50%
  width: 80%
  color: white
  font-size: 30px
  transform: translateX(-50%)
 
  
.container
  position: fixed
  bottom: 20%
  left: 50%
  // border: 1px solid white
  width: 90%
  transform: translateX(-50%)
  .money
    display: inline-block
    width: 0.75%
    height: 55px
    background-color: white
    margin-left: 0.25%
  .initial
    background-color: red
    display: inline-block
    width: 0.75%
    height: 55px
    margin-left: 0.25%