@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body, html {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 690px;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 40px;
  text-transform: uppercase;
  padding: 5%;
  color: white;
  white-space: pre-line;
}

.intro .title {
  font-size: 36px;
}

.intro .start_btn {
  font-size: 24px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid white;
}

.intro .desc {
  width: 90%;
  font-size: 24px;
  text-transform: none;
}

.intro .desc a {
  color: white;
}

.input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  font-size: 24px;
  border-radius: 4px;
}

.input-container .input-row {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.input-container input {
  text-align: right;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  caret-color: white;
  font-size: 18px;
  color: white;
}

.input-container input:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-container .msg {
  display: inline-block;
}

.input-container .start {
  margin-top: 10px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.dashboard {
  position: fixed;
  top: 5%;
  left: 50%;
  width: 80%;
  color: white;
  font-size: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dashboard .info {
  font-size: 18px;
}

.dashboard .data {
  margin-top: 15px;
}

.container {
  position: fixed;
  bottom: 10%;
  left: 50%;
  width: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container .money {
  display: inline-block;
  width: 0.75%;
  height: 55px;
  background-color: white;
  margin-left: 0.25%;
}

.container .initial {
  background-color: red;
  display: inline-block;
  width: 0.75%;
  height: 55px;
  margin-left: 0.25%;
}
/*# sourceMappingURL=style.css.map */